* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#custom-setting-heading {
    background-color: #0099ff;
    color: white;
    padding: 20px;
    width: 100vw;
    margin-bottom: 30px;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 40px;
    margin: 10px;
}

.option-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 20px;
}

.option-card h3 {
    margin: 10px;
}

.label {
    display: inline-block;
    background-color: #222020;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
}

.option-card p{
    margin: 5px;
    color: grey;
    text-align: center;
    margin: 10px 15px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.cont-butt {
    background-color: #0099ff;
    color: #ffffff;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.gui-butt {
    padding: 4px 10px;
    color: grey;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
}